@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 160px;
    background-image: url(./img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;

    font-family: 'Inter', sans-serif;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

h3 > span {
    color: #FFC700;
}

h1 {
    font-family: 'Emilys Candy', cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    color: #FFC700
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 72px;
}

a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}

.btn-play {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #040101;
    
    text-decoration: none;
    background-color: #FFC700;
    border-radius: 50px;
}